/*  criando variaveis para reutilizar as cores */
:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #007991;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #007991);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #007991);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;

    color: var(--title-color);
}

#page-home {
    height: 100vh;
    background: url('../assets/icones/home-background.svg') no-repeat;
    background-position: 35vh bottom;
}

#page-home .content {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

#page-home header a {
    display: flex;
    color: var(--title-color);
    font-weight: 700;
}

#page-home header a span {
    display: flex;
    background-image: url('../assets/icones/log-in.svg');
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

#page-home main {
    max-width: 560px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-home h1 {
    font-size: 54px;
    color: var(--title-color);

}

#page-home main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;

}

#page-home main a {
    width: 100%;
    height: 72px;
    max-width: 360px;
    background-color: var(--primary-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    transition: 400ms;
    font-weight: 700;
    color: #ffffff;
}

#page-home main a:hover {
    background-color: #2fb86e;
}

#page-home main a span {
    width: 72px;
    height: 72px;
    background: rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;

}

#page-home main a span::after {
    content: "";
    background-image: url('/assets/icones/search.svg');
    width: 20px;
    height: 20px;

}

#page-home main a strong {
    flex: 1;
    color: #FFFFFF;
    text-align: center;
}

/* criando display responsivo */
@media(max-width: 900px) {
    #page-home {
        background-position-x: 70vh ;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute;
        bottom: 48px;
        left:50%;
        transform: translateX(-50%);
    }
    #page-home main {
        align-items: center;
    }
}